<p-toast position="top-right" />
<div class="flex justify-content-center align-items-center">
  <div class="flex flex-column gap-2">
    <h3>Manage User</h3>
    <div class="card flex justify-center mb-4">
      <p-select [options]="roles" [(ngModel)]="selectedRole"
                placeholder="Select a role" class="w-full md:w-56" />
    </div>
    <div>
      <p-floatlabel variant="on">
        <input pInputText id="email" name="email"
               [(ngModel)]="userRequest.email" autocomplete="off" />
        <label for="email">E-mail</label>
      </p-floatlabel>
      @if (hasError('email')) {
        <small class="text-red-500">{{ getErrorMsg('email') }}</small>
      }
    </div>
    <div>
      <p-floatlabel variant="on">
        <input pInputText id="firstName" name="firstName"
               [(ngModel)]="userRequest.firstName" autocomplete="off" />
        <label for="firstName">First name</label>
      </p-floatlabel>
      @if (hasError('firstName')) {
        <small class="text-red-500">{{ getErrorMsg('firstName') }}</small>
      }
    </div>
    <div>
      <p-floatlabel variant="on">
        <input pInputText id="lastName" name="lastName"
               [(ngModel)]="userRequest.lastName" autocomplete="off" />
        <label for="lastName">Last name</label>
      </p-floatlabel>
      @if (hasError('lastName')) {
        <small class="text-red-500">{{ getErrorMsg('lastName') }}</small>
      }
    </div>
    <div>
      <p-floatlabel variant="on">
        <input pInputText id="username" name="username"
               [(ngModel)]="userRequest.username" autocomplete="off" />
        <label for="username">Username</label>
      </p-floatlabel>
      @if (hasError('username')) {
        <small class="text-red-500">{{ getErrorMsg('username') }}</small>
      }
    </div>
    <div>
      <p-floatlabel variant="on">
        <input pInputText id="password" name="password"
               [(ngModel)]="userRequest.password" autocomplete="off" />
        <label for="password">Password</label>
      </p-floatlabel>
      @if (hasError('password')) {
        <small class="text-red-500">{{ getErrorMsg('password') }}</small>
      }
    </div>
    <div class=" flex align-items-center justify-content-between">
      <p-button label="Add" icon="pi pi-check" (click)="onAddUser()"/>
      <p-button label="Cancel" icon="pi pi-times" severity="danger" (click)="backToUsers()"/>
    </div>
  </div>
</div>
