<p-toast position="top-right" />

<div class="flex justify-content-center align-items-center">
  <div class="flex flex-column gap-2">
    <div class="flex justify-content-center align-items-center">
      <h1>Login</h1>
    </div>
    <div>
      <p-floatlabel variant="on">
        <input pInputText id="username" name="username"
               [(ngModel)]="loginRequest.username" autocomplete="off" />
        <label for="username">Username</label>
      </p-floatlabel>
      @if (hasError('username')) {
        <small class="text-red-500">{{ getErrorMsg('username') }}</small>
      }
    </div>
    <div>
      <p-floatlabel variant="on">
        <input pInputText type="password" id="password" name="password"
               [(ngModel)]="loginRequest.password" autocomplete="off" />
        <label for="password">Password</label>
      </p-floatlabel>
      @if (hasError('password')) {
        <small class="text-red-500">{{ getErrorMsg('password') }}</small>
      }
    </div>
    <div class="flex justify-content-center align-items-center gap-2">
      <p-button label="Login" type="submit" (click)="onLogin()" />
      <h5>Or</h5>
      <p-button label="Register" variant="text" (click)="onRegister()" />
    </div>
  </div>
</div>
