<div class="flex justify-content-center align-items-center">
  <div class="flex flex-column gap-2">
    <h3>Manage Product</h3>
    <div class="card flex justify-center mb-4">
      <p-select [options]="categories" [(ngModel)]="selectedCategory"
                optionLabel="name" placeholder="Select a Category" class="w-full md:w-56" />
    </div>
    <div>
      <p-floatlabel variant="on">
        <input pInputText id="name" name="name"
               [(ngModel)]="productRequest.name" autocomplete="off" />
        <label for="name">Product Name</label>
      </p-floatlabel>
      @if (hasError('name')) {
        <small class="text-red-500">{{ getErrorMsg('name') }}</small>
      }
    </div>
    <div>
      <p-floatlabel variant="on">
        <input pInputText id="description" name="description"
               [(ngModel)]="productRequest.description" autocomplete="off" />
        <label for="description">Description</label>
      </p-floatlabel>
      @if (hasError('description')) {
        <small class="text-red-500">{{ getErrorMsg('description') }}</small>
      }
    </div>
    <div>
      <p-floatlabel variant="on">
        <input pInputText id="price" name="price"
               [(ngModel)]="productRequest.price" autocomplete="off" />
        <label for="price">Price</label>
      </p-floatlabel>
      @if (hasError('price')) {
        <small class="text-red-500">{{ getErrorMsg('price') }}</small>
      }
    </div>
    <div>
      <p-floatlabel variant="on">
        <input pInputText id="reference" name="reference"
               [(ngModel)]="productRequest.reference" autocomplete="off" />
        <label for="reference">Reference</label>
      </p-floatlabel>
      @if (hasError('reference')) {
        <small class="text-red-500">{{ getErrorMsg('reference') }}</small>
      }
    </div>
    <div>
      <p-floatlabel variant="on">
        <input pInputText id="alertThreshold" name="alertThreshold"
               [(ngModel)]="productRequest.alertThreshold" autocomplete="off" />
        <label for="alertThreshold">Alert Threshold</label>
      </p-floatlabel>
      @if (hasError('alertThreshold')) {
        <small class="text-red-500">{{ getErrorMsg('alertThreshold') }}</small>
      }
    </div>
    <div class=" flex align-items-center justify-content-between">
      <p-button label="Add" icon="pi pi-check" (click)="onAddProduct()"/>
      <p-button label="Cancel" icon="pi pi-times" severity="danger" (click)="backToProducts()"/>
    </div>
  </div>
</div>
